<!DOCTYPE html>
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block htmltitle %}Sixaphone{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% url static path="sixaphone/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% url static path="sixaphone/960/reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% url static path="sixaphone/960/text.css" %}">
    <link rel="stylesheet" type="text/css" href="{% url static path="sixaphone/960/960.css" %}">
</head><body>

    <div id="bigbox">
    <div id="content" class="container_12">

        <div class="grid_3 prefix_9">
            <p>
            {% if user.is_authenticated %}
                Hi, {{ user.display_name }}!
                <span class="tp-button"><span class="button button-signout">
                    <a href="{% url logout %}">Sign out</a>
                </span></span>
            {% else %}
                Hi!
                <span class="tp-button"><span class="button button-signin">
                    <a href="{% url login %}">Sign in</a>
                </span></span>
                to comment &amp; tag
            {% endif %}
            </p>
        </div>

        <div class="grid_5">
            <h1><img src="{% url static path="sixaphone/phone.jpg" %}"></h1>
        </div>

        <div class="grid_7">
            {% block content %}{% endblock %}
        </div>

    </div>
    </div>

</body></html>
