<!DOCTYPE html>
<html><head>
    {% load typepad_filters %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block htmltitle %}Six-A-Phone{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% url static path="sixaphone/960/reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% url static path="sixaphone/960/text.css" %}">
    <link rel="stylesheet" type="text/css" href="{% url static path="sixaphone/960/960.css" %}">
    <link rel="stylesheet" type="text/css" href="{% url static path="sixaphone/buttons.css" %}">
    <link rel="stylesheet" type="text/css" href="{% url static path="sixaphone/style.css" %}">
    <script type="text/javascript" src="{% url static path="sixaphone/jquery.js" %}"></script>
    {% if debug %}
    <script type="text/javascript" src="{% url static path="sixaphone/soundman/soundmanager2.js" %}"></script>
    {% else %}
    <script type="text/javascript" src="{% url static path="sixaphone/soundman/soundmanager2-nodebug-jsmin.js" %}"></script>
    {% endif %}
    <script type="text/javascript">
        soundManager.url = '{% url static path="sixaphone/soundman/" %}';
        soundManager.flashLoadTimeout = 0;
        soundManager.oninitmovie = function () {
            $('#sm2-ctr-ctr').delay(1000).queue(function () {
                if (!$('#sm2-ctr-ctr').hasClass('loaded')) {
                    $('#sm2-ctr-ctr').addClass('blocked');
                }
                $(this).dequeue();
            });
        };
        soundManager.onready(function () {
            $('#sm2-ctr-ctr').addClass('loaded').removeClass('blocked');
        });
    </script>
    {% if typekit_code %}
    <script type="text/javascript" src="http://use.typekit.com/{{ typekit_code }}.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% endif %}
</head><body>

    <div id="bigbox">
        <div id="bigbox-border"></div>
        <div id="content" class="container_12 clearfix">

            <div class="grid_4 prefix_8">
                <p id="hi">
                {% if user.is_authenticated %}
                    <span class="hi">Hi, <a href="{{ user.typepad_url }}"><img src="{{ user|userpicsquare:50 }}"></a> <a href="{{ user.typepad_url }}">{{ user.display_name }}</a>!</span>
                    <span class="tp-button"><span class="button button-signout">
                        <a href="{% url logout %}">Sign out</a>
                    </span></span>
                {% else %}
                    Hi!
                    <span class="tp-button"><span class="button button-signin">
                        <a href="{% url login %}">Sign in</a>
                    </span></span>
                    to favorite &amp; tag
                {% endif %}
                </p>
            </div>

            <div class="grid_5">
                <div id="sm2-ctr-ctr">
                    <div id="sm2-container"></div>
                </div>

                <h1><a href="{% url home %}"><img src="{% url static path="sixaphone/phone.jpg" %}"></a></h1>
                <h1 id="title" class="tk-chippewa-falls"><a href="{% url home %}">Six-A-Phone</a></h1>
            </div>

            <div class="grid_7">
                {% block content %}{% endblock %}
            </div>

        </div>
        <div id="not-a-footer"></div>
    </div>

    <div class="container_12">
        <div class="grid_5">
            {% block left_foot %}{% endblock %}
        </div>
    </div>

    <div id="footer">
        <a href="http://en.wikipedia.org/wiki/Dial-A-Song" class="invisilink">Free when you call from work</a>, and you work at Six Apart.
        <span class="bullet">&#8226;</span>
        by @<a href="http://markpasc.org/mark/">markpasc</a> &amp; friends
        <span class="bullet">&#8226;</span>
        <a href="http://developer.typepad.com/">made with</a> <a href="http://developer.typepad.com/"><img src="{% url static path="sixaphone/typepad.gif" %}"></a>
    </div>

{% load ganalytics %}
{% ganalytics %}
    {% block ganalytics_callbacks %}{% endblock %}
{% endganalytics %}

</body></html>
