{% extends "sixaphone/base.html" %}

{% block content %}

    <div id="play-all" class="player-box">
        <span class="tp-button"><span class="button button-xl button-play">
            <a href="#" class="disabled">▶ &nbsp;Play all</a>
        </span></span>
    </div>

    <script type="text/javascript">
        var xids = [ {% for audio, event in audio_events %}
            '{{ event.xid }}'
            {% if forloop.last %}{% else %},{% endif %}
        {% endfor %} ];

        var asset_ids = [ {% for audio, event in audio_events %}
            'asset-{{ event.object.xid }}'
            {% if forloop.last %}{% else %},{% endif %}
        {% endfor %} ];

        $(document).ready(function () {
            $.ajax({
                url: '{% url asset_meta %}',
                type: "POST",
                data: {"asset_id": asset_ids},
                dataType: "json",
                traditional: true,
                success: function(data) {
                    $.each(data, function (key, val) {
                        if (val.favorite) {
                            key = key.replace(/^asset-/, '');
                            $('#favorite-' + key).addClass('favorited');
                        }
                    });
                }
            });
        });

        $('#play-all a').click(function () {
            return false;
        });

        soundManager.onready(function (status) {
            if (!status.success)
                return;

            $('#play-all a').click(function () {
                $.each(xids, function (i, val) {
                    if (i < xids.length - 1) {
                        $('#player-' + val).one('finished', function () {
                            soundManager.load('event-' + xids[i + 1]);
                            $('#player-' + xids[i + 1]).delay(1000).queue(function () {
                                $('.statusbar .position').css({width: 0});
                                soundManager.stopAll();
                                soundManager.play('event-' + xids[i + 1]);
                                $(this).dequeue();
                            });
                        });
                    }
                });

                $('.statusbar .position').css({width: 0});
                soundManager.stopAll();
                soundManager.play('event-' + xids[0]);

                return false;
            }).removeClass('disabled');
        });
    </script>

    <div id="players">
    {% for audio, event in audio_events %}
        {% with event.object as entry %}
            {% include "sixaphone/player.html" %}
        {% endwith %}
    {% endfor %}
    </div>

    <p id="page">
        {% if prev_page %}
            {% ifequal page 2 %}
                {% url home as prev_url %}
            {% else %}
                {% url archive page=prev_page as prev_url %}
            {% endifequal %}
            <a href="{{ prev_url }}" class="arrow">&larr;</a>
            <a href="{{ prev_url }}">Previous</a>
        {% endif %}
        {% if prev_page and next_page %}
            &middot;
        {% endif %}
        {% if next_page %}
            <a href="{% url archive page=next_page %}">Older</a>
            <a href="{% url archive page=next_page %}" class="arrow">&rarr;</a>
        {% endif %}
    </p>

{% endblock %}
