#bigbox {
  border-top: 4px solid #90b518; }

#content {
  margin-top: 20px; }

#footer {
  background: #90b518;
  padding: 0;
  margin: 0; }
  #footer #footer-content {
    padding: 1.5ex 0;
    color: white; }
    #footer #footer-content img {
      vertical-align: middle; }
    #footer #footer-content .bullet {
      display: inline-block;
      padding: 0 0.5em; }
  #footer a:link, #footer a:hover, #footer a:visited, #footer a:active {
    color: white; }

.hidden {
  display: none; }

#hi {
  text-align: right; }
  #hi img {
    vertical-align: middle;
    width: 2em; }

h1 {
  margin: 0;
  padding: 0; }
  h1 a:link, h1 a:hover, h1 a:visited, h1 a:active {
    color: black;
    text-decoration: none; }
  h1 a:hover {
    text-decoration: underline; }
  h1 img {
    margin-left: -20px; }
  h1.tk-chippewa-falls {
    font-size: 60px;
    text-align: center;
    font-weight: normal;
    text-shadow: #999 0 2px 2px; }

.ampm {
  font-size: smaller;
  text-transform: uppercase; }

.status-playing, .status-paused {
  display: none; }

.tp-button {
  display: inline-block;
  float: none;
  z-index: 10; }
  .tp-button .button-play a {
    text-align: center;
    height: 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-color: #cccccc;
    background-color: #cccccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#cccccc));
    background-image: -moz-linear-gradient(white, #cccccc);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=white, endColorstr=#cccccc, GradientType=0);
    box-shadow: black 0 1px 2px;
    -moz-box-shadow: black 0 1px 2px;
    -webkit-box-shadow: black 0 1px 2px; }
    .tp-button .button-play a span {
      padding: 0; }
    .tp-button .button-play a:hover {
      border-color: #bbbbbb;
      background-color: #bbbbbb;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#bbbbbb));
      background-image: -moz-linear-gradient(#eeeeee, #bbbbbb);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#eeeeee, endColorstr=#bbbbbb, GradientType=0); }
    .tp-button .button-play a:active {
      border-color: #eeeeee;
      background-color: #eeeeee;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#eeeeee));
      background-image: -moz-linear-gradient(#bbbbbb, #eeeeee);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#bbbbbb, endColorstr=#eeeeee, GradientType=0);
      box-shadow: black 0 0px 0px;
      -moz-box-shadow: black 0 0px 0px;
      -webkit-box-shadow: black 0 0px 0px; }
  .tp-button .button-play a.disabled {
    box-shadow: black 0 0px 0px;
    -moz-box-shadow: black 0 0px 0px;
    -webkit-box-shadow: black 0 0px 0px;
    border-color: #cccccc;
    background-color: #cccccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#cccccc));
    background-image: -moz-linear-gradient(#dddddd, #cccccc);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#dddddd, endColorstr=#cccccc, GradientType=0); }
    .tp-button .button-play a.disabled:hover {
      border-color: #cccccc;
      background-color: #cccccc;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
      background-image: -moz-linear-gradient(#eeeeee, #cccccc);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#eeeeee, endColorstr=#cccccc, GradientType=0); }
    .tp-button .button-play a.disabled:active {
      border-color: #cccccc;
      background-color: #cccccc;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
      background-image: -moz-linear-gradient(#eeeeee, #cccccc);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#eeeeee, endColorstr=#cccccc, GradientType=0); }
  .tp-button .button-favorite a {
    border-color: #cccccc;
    background-color: #cccccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#cccccc));
    background-image: -moz-linear-gradient(white, #cccccc);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=white, endColorstr=#cccccc, GradientType=0);
    color: black;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    box-shadow: 0 1px 2px black;
    -moz-box-shadow: 0 1px 2px black;
    -webkit-box-shadow: 0 1px 2px black; }
    .tp-button .button-favorite a span {
      padding: 0; }
    .tp-button .button-favorite a .favorited-text {
      display: none; }
    .tp-button .button-favorite a:hover {
      border-color: #bbbbbb;
      background-color: #bbbbbb;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#bbbbbb));
      background-image: -moz-linear-gradient(#eeeeee, #bbbbbb);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#eeeeee, endColorstr=#bbbbbb, GradientType=0); }
    .tp-button .button-favorite a:active {
      border-color: #eeeeee;
      background-color: #eeeeee;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#eeeeee));
      background-image: -moz-linear-gradient(#bbbbbb, #eeeeee);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#bbbbbb, endColorstr=#eeeeee, GradientType=0);
      box-shadow: black 0 0px 0px;
      -moz-box-shadow: black 0 0px 0px;
      -webkit-box-shadow: black 0 0px 0px; }
    .tp-button .button-favorite a.favorited {
      border-color: #ffcccc;
      background-color: #ffcccc;
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ffcccc));
      background-image: -moz-linear-gradient(white, #ffcccc);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=white, endColorstr=#ffcccc, GradientType=0);
      box-shadow: black 0 0px 0px;
      -moz-box-shadow: black 0 0px 0px;
      -webkit-box-shadow: black 0 0px 0px; }
      .tp-button .button-favorite a.favorited .action-text {
        display: none; }
      .tp-button .button-favorite a.favorited .favorited-text {
        display: inline; }
      .tp-button .button-favorite a.favorited:hover {
        border-color: #ffcccc;
        background-color: #ffcccc;
        background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ffcccc));
        background-image: -moz-linear-gradient(white, #ffcccc);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=white, endColorstr=#ffcccc, GradientType=0); }
      .tp-button .button-favorite a.favorited:active {
        border-color: white;
        background-color: white;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcccc), to(white));
        background-image: -moz-linear-gradient(#ffcccc, white);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#ffcccc, endColorstr=white, GradientType=0); }

.player, .player-box {
  position: relative;
  padding: 10px;
  margin: 0 0 10px 0; }

.player {
  box-shadow: #999999 0 1px 2px;
  -moz-box-shadow: #999999 0 1px 2px;
  -webkit-box-shadow: #999999 0 1px 2px;
  background: #eee; }
  .player .control {
    float: left; }
    .player .control .button a {
      width: 20px; }
    .player .control .control-text-pause {
      display: none; }
  .player h2.title {
    margin: 0; }
  .player .statusbar {
    position: relative;
    height: 16px;
    z-index: 1;
    background: #fff;
    margin: 4px 0 4px 22px;
    padding: 4px;
    box-shadow: inset 0 1px 2px #999999;
    -moz-box-shadow: inset 0 1px 2px #999999;
    -webkit-box-shadow: inset 0 1px 2px #999999; }
    .player .statusbar .statusbar-inner {
      position: relative; }
    .player .statusbar .position, .player .statusbar .loading {
      position: absolute;
      height: 16px;
      background: #dfb; }
    .player .statusbar .position {
      background: #90b518;
      box-shadow: 0 1px 2px #cccccc;
      -moz-box-shadow: 0 1px 2px #cccccc;
      -webkit-box-shadow: 0 1px 2px #cccccc; }
  .player .tags {
    margin: 10px 0 0 0; }
    .player .tags a {
      display: inline-block;
      position: relative;
      font-size: 12px;
      line-height: 14px;
      height: 14px; }
      .player .tags a span {
        display: inline-block;
        font-size: 12px;
        line-height: 14px;
        height: 14px;
        padding: 0; }
      .player .tags a .point {
        width: 6px;
        background: url(tag.png) no-repeat 0px 0px;
        margin-left: 3px; }
      .player .tags a .tail {
        position: absolute;
        width: 6px;
        background: url(tag.png) no-repeat -6px 0px; }
      .player .tags a .text {
        background: #666;
        padding: 0px 4px; }
      .player .tags a:link, .player .tags a:hover, .player .tags a:visited, .player .tags a:active {
        color: white;
        text-decoration: none; }
      .player .tags a:hover .text {
        background: #66c; }
      .player .tags a:hover .point {
        background-position: 0px -14px; }
      .player .tags a:hover .tail {
        background-position: -6px -14px; }
  .player .data {
    display: inline-block;
    float: right;
    margin: 10px 0 0 10px;
    text-align: right; }
  .player .favorite {
    display: inline-block;
    float: left;
    margin: 10px 10px 0 0;
    text-align: left; }
  .player .add-tag {
    margin: 10px 0 0 0;
    text-align: center; }

.player-2 .statusbar .position {
  background: #b51890; }
.player-2 .statusbar .loading {
  background: #fbd; }

.player-3 .statusbar .position {
  background: #1890b5; }
.player-3 .statusbar .loading {
  background: #bdf; }

.player-4 .statusbar .position {
  background: #9018b5; }
.player-4 .statusbar .loading {
  background: #dbf; }

.player-5 .statusbar .position {
  background: #18b590; }
.player-5 .statusbar .loading {
  background: #bfd; }

.player-6 .statusbar .position {
  background: #b59018; }
.player-6 .statusbar .loading {
  background: #fdb; }

.player-playing .control .control-text-play {
  display: none; }
.player-playing .control .control-text-pause {
  display: inline; }

#sm2-ctr-ctr {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  z-index: 8000;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 240px; }
  #sm2-ctr-ctr.blocked {
    visibility: visible; }
  #sm2-ctr-ctr #sm2-container {
    border: 1px solid black;
    margin: 0 auto;
    width: 100%;
    height: 100%; }

.favorites img {
  vertical-align: middle;
  width: 2em; }

#page {
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
  margin: 2em 0; }

a.arrow:link, a.arrow:visited, a.arrow:active {
  text-decoration: none; }
a.arrow:hover {
  text-decoration: underline; }
