#bigbox {
    border-top: 2px solid blue
}

#content {
    margin-top: 50px;
}

#hi img {
    vertical-align: middle;
    width: 2em;
}

.tp-button {
    display: inline-block;
    float: none;
}

.ampm {
    font-size: smaller;
    text-transform: uppercase;
}
