#bigbox
    border-top: 2px solid green

#content
    margin-top: 20px

#hi
    text-align: right

    img
        vertical-align: middle
        width: 2em

.tp-button
    display: inline-block
    float: none

.ampm
    font-size: smaller
    text-transform: uppercase

.status-playing, .status-paused
    display: none

=borderradius(!whassa)
    border-radius: #{!whassa}
    -moz-border-radius: #{!whassa}
    -webkit-border-radius: #{!whassa}

.player
    position: relative
    padding: 10px
    margin: 0 0 10px 0

    background: #eee

    .control
        float: left

        .button a
            +borderradius(40px)
            text-align: center

            span
                padding: 0

        .control-text-pause
            display: none

    h2.title
        margin: 0

    .statusbar
        position: relative
        height: 10px
        background: #fff
        margin-top: 10px
        padding: 5px

        .statusbar-inner
            position: relative

        .position, .loading
            position: absolute
            height: 10px
            background: #cfc

        .position
            background: #393

.player-playing
    .control
        .control-text-play
            display: none

        .control-text-pause
            display: inline
