#bigbox
    border-top: 4px solid #90b518

#content
    margin-top: 20px

#hi
    text-align: right

    img
        vertical-align: middle
        width: 2em

h1
    margin: 0
    padding: 0

    img
        margin-left: -20px

    &.tk-chippewa-falls
        font-size: 60px
        text-align: center
        font-weight: normal
        text-shadow: #999 0 2px 2px

.ampm
    font-size: smaller
    text-transform: uppercase

.status-playing, .status-paused
    display: none

=borderradius(!whassa)
    border-radius: #{!whassa}
    -moz-border-radius: #{!whassa}
    -webkit-border-radius: #{!whassa}

=boxshadow(!whassa)
    box-shadow: #{!whassa}
    -moz-box-shadow: #{!whassa}
    -webkit-box-shadow: #{!whassa}

=buttongradient(!top, !bottom)
    border-color: #{!bottom}
    background-color: #{!bottom}
    background-image: -webkit-gradient(linear, left top, left bottom, from(#{!top}), to(#{!bottom}))
    background-image: -moz-linear-gradient(#{!top}, #{!bottom})
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#{!top}, endColorstr=#{!bottom}, GradientType=0)

.tp-button
    display: inline-block
    float: none
    z-index: 10

    .button-play a
        text-align: center
        height: 20px
        +borderradius(20px)
        +buttongradient(#fff, #ccc)
        +boxshadow(#000 0 1px 2px)

        span
            padding: 0

        &:hover
            +buttongradient(#eee, #bbb)

        &:active
            +buttongradient(#bbb, #eee)
            +boxshadow(#000 0 0px 0px)

    .button-play a.disabled
        +boxshadow(#000 0 0px 0px)
        +buttongradient(#ddd, #ccc)

        &:hover
            +buttongradient(#eee, #ccc)

        &:active
            +buttongradient(#eee, #ccc)

    .button-favorite a
        +buttongradient(#fff, #ccc)
        color: black
        text-align: center
        text-shadow: 0 1px 1px #fff
        +boxshadow(0 1px 2px #000)

        span
            padding: 0

        .favorited-text
            display: none

        &:hover
            +buttongradient(#eee, #bbb)

        &:active
            +buttongradient(#bbb, #eee)
            +boxshadow(#000 0 0px 0px)

        &.favorited
            +buttongradient(#fff, #fcc)
            +boxshadow(#000 0 0px 0px)

            .action-text
                display: none
            .favorited-text
                display: inline

            &:hover
                +buttongradient(#fff, #fcc)
            &:active
                +buttongradient(#fcc, #fff)

.player, .player-box
    position: relative
    padding: 10px
    margin: 0 0 10px 0

.player
    +boxshadow(#999 0 1px 2px)
    background: #eee

    .control
        float: left

        .button a
            width: 20px

        .control-text-pause
            display: none

    h2.title
        margin: 0

    .statusbar
        position: relative
        height: 16px
        z-index: 1
        background: #fff
        margin: 4px 0 4px 22px
        padding: 4px
        +boxshadow("inset" 0 1px 2px #999)

        .statusbar-inner
            position: relative

        .position, .loading
            position: absolute
            height: 16px
            background: #dfb

        .position
            background: #90b518
            +boxshadow(0 1px 2px #ccc)

    .data
        display: inline-block
        float: right
        margin-top: 10px
        text-align: right

    .favorite
        display: inline-block
        float: left
        margin-top: 10px
        text-align: left

.player-2
    .statusbar
        .position
            background: #b51890
        .loading
            background: #fbd
.player-3
    .statusbar
        .position
            background: #1890b5
        .loading
            background: #bdf
.player-4
    .statusbar
        .position
            background: #9018b5
        .loading
            background: #dbf
.player-5
    .statusbar
        .position
            background: #18b590
        .loading
            background: #bfd
.player-6
    .statusbar
        .position
            background: #b59018
        .loading
            background: #fdb

.player-playing
    .control
        .control-text-play
            display: none

        .control-text-pause
            display: inline

#sm2-ctr-ctr
    display: inline-block
    visibility: hidden
    position: absolute
    z-index: 8000
    background: white
    background: rgba(255, 255, 255, 0.8)
    width: 100%
    height: 240px

    &.blocked
        visibility: visible

    #sm2-container
        border: 1px solid black
        margin: 0 auto
        width: 100%
        height: 100%

.favorites
    img
        vertical-align: middle
        width: 2em
