#bigbox {
    border-top: 2px solid green
}

#content {
    margin-top: 50px;
}

#hi img {
    vertical-align: middle;
    width: 2em;
}

.tp-button {
    display: inline-block;
    float: none;
}

.ampm {
    font-size: smaller;
    text-transform: uppercase;
}

.player {
    position: relative;
    background: #ccc;
    padding: 10px;
}

h2.title {
    line-height: 1em;
    margin: 0;
    padding: 0 0 10px 0;
}

.status-playing, .status-paused {
    display: none;
}

.playing .status-playing, .paused .status-paused {
    display: inline;
}

.player .statusbar {
    position: relative;
    height: 10px;
    background: #eee;
    z-index: 1;
}

.player .statusbar .loading, .player .statusbar .position {
    position: absolute;
    height: 10px;
    background: #cfc;
    z-index: 2;
}

.player .statusbar .position {
    background: #393;
    z-index: 3;
}
